<h2 style="text-align: center;">Контракты</h2>
<p style="text-align: center;">
  <button class="btn btn-dark" style="position: absolute" routerLink="/account/add">Добавить</button>
</p>
<br>
<br>
<div style="text-align: center; ">
  <br>
  <table class="table" style="display: inline-block">
    <thead>
    <tr>
      <th>Номер</th>
      <th>Клиент</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contracts; let i = index">
      <td>{{contract.number}}</td>
      <td>{{contract.client.lastName}}</td>
      <td>
        <button style="font-size: 12px" (click)="removeContract(contract)">Удалить</button>
      </td>
      <td>
        <button style="font-size: 12px" [routerLink]="[contract.id]">Редактировать</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>



