<div>
  <h2 style="text-align: center;">Клиенты</h2>
  <p style="text-align: center;">
    <button  class="btn btn-dark"  routerLink="/car/add" >Добавить</button>
  </p>
</div>
<div style="text-align: center; " >
  <br>
  <table class="table" style="display: inline-block">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Телефон</th>
      <th>Серия</th>
      <th>Номер</th>
      <th>Адрес</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.firstName}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.phoneNumber}}</td>
      <td>{{client.passportSeries}}</td>
      <td>{{client.passportNumber}}</td>
      <td>{{client.address}}</td>
      <td>
        <button style="font-size: 12px" (click)="removeCar(client)">Удалить</button>
      </td>
      <td>
        <button style="font-size: 12px" [routerLink]="[client.id]">Редактировать</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>



