<div>
  <h2 style="text-align: center;">Аккаунты</h2>
  <p style="text-align: center;">
    <button  class="btn btn-dark"  routerLink="/organization/add" >Добавить</button>
  </p>
</div>
<div style="text-align: center; " >
  <br>
  <table class="table" style="display: inline-block">
    <thead>
    <tr>
      <th>Клиент контракта</th>
      <th>Номер</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{account.contract.client.firstName}}</td>
      <td>{{account.number}}</td>
      <td>
        <button style="font-size: 12px" (click)="removeOrganization(account)">Удалить</button>
      </td>
      <td>
        <button style="font-size: 12px" [routerLink]="[account.id]">Редактировать</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>



