<div>
  <h2 style="text-align: center;">Документы</h2>
  <p style="text-align: center;">
    <button  class="btn btn-dark"  routerLink="/employee/add" >Добавить</button>
  </p>
</div>
<div style="text-align: center; " >
  <br>
  <table class="table" style="display: inline-block">
    <thead>
    <tr>
      <th>Название</th>
      <th>Аккаунт</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let document of documents">
      <td>{{document.operation.name}}</td>
      <td>{{document.account.contract.client.lastName}}</td>
      <td>
        <button style="font-size: 12px" (click)="removeEmployee(document)">Удалить</button>
      </td>
      <td>
        <button style="font-size: 12px" [routerLink]="[document.id]">Редактировать</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>



